<section id="contact" class="bloc-editable">
        <div class="container">
            <a href="https://github.com/24eme/24eme.fr/blob/master/_includes/contact.html" class="lien-edition"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address class="lead text-center">
                      <strong>24ème</strong> - Paris<br>
                      48 rue René Clair<br>
                      75018 Paris<br>
                      <a href="https://www.openstreetmap.org/?mlat=48.89405&amp;mlon=2.35424#map=17/48.89405/2.35424"><i class="fa fa-map-o" aria-hidden="true"></i> Carte</a> /
                      <a href="geo:48.89405,2.35424"><i class="fa fa-location-arrow" aria-hidden="true"></i> GPS</a> /
                      <a href="https://jeancloude.24eme.fr/index.php/s/zqneCkffrTP3So8"><i class="fa fa-map-signs" aria-hidden="true"></i> Plan d'accès</a>
                    </address>
                </div>
                <div class="col-xs-6">
                    <address class="lead text-center">
                      <strong>24ème</strong> - Pyrénées-Orientales<br>
                      3 rue du Puigmal<br>
                      66170 Saint-Féliu d'Amont<br>
                      <a href="https://www.openstreetmap.org/?mlat=42.68138&amp;mlon=2.72427#map=17/42.68145/2.72449"><i class="fa fa-map-o" aria-hidden="true"></i> Carte</a> /
                      <a href="geo:42.68138,2.72427"><i class="fa fa-location-arrow" aria-hidden="true"></i> GPS</a>
                    </address>
                </div>
                <div class="col-xs-12">
                    <address class="lead text-center">
                      <i class="fa fa-phone text-primary" aria-hidden="true"></i> <a id="tel" href="">01 94 25 84 01</a><br />
                      <i class="fa fa-envelope-o text-primary" aria-hidden="true"></i> <a id="email" href="">contact[at]24eme.fr</a><br />
                      <i class="fa fa-comments-o text-primary" aria-hidden="true"></i> <a href="https://kiwiirc.com/nextclient/irc.libera.chat/#24eme">#24eme <small>(irc.libera.chat:6697)</small></a>
                    </address>

                </div>
            </div>
        </div>
    </section>
