<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="bg-light-gray">
        {% include nav.html %}
        <header id="header-page">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading" style="">{{ page.title }}</div>
                </div>
            </div>
        </header>

        <section id="page" style="background-color: #fff" class="bloc-editable">
            <div class="container">
                <a href="https://github.com/24eme/24eme.fr/blob/master/{{ page.path }}" class="lien-edition"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                {{ content }}
            </div>
        </section>

        {% include footer.html %}
        {% include modals.html %}
        {% include js.html %}
    </body>
</html>
